*{
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    margin-bottom: 5px;
    border-radius: 10px;
    width: 300px;
    height: 240px;
}

.card {
    background-color: white;
    border: 5px;
    border-color: black;
    border-radius: 20px 20px 5px 5px;
    margin: 10px;
    width: 300px;
    height: 500px;
    position: relative;
}

.card:hover {
    box-shadow: 3px 3px 20px 3px grey;
    transform: scale(1, 1);
    background-color: beige;
}

.source {
    position: absolute;
    background-color: tan;
    top: -1px;
    right: -1px;
    padding: 0px 5px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.title {
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.desc {
    font-size: 13px;
    margin-bottom: 10px;
    color: dimgrey;
    margin-left: 5px;
    margin-right: 5px;
}

.author {
    font-size: 11px;
    color: dimgrey;
    font-style: italic;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

button {
    background-color: white;
    border: none;
    font-weight: 500;
    font-size: 11px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

button:hover {
    background-color: lightgray;
    
    text-decoration: underline;
    cursor: pointer;
}